# Pandas

# Key commands

===========================================

### pandas.Series 
class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

### pandas.DataFrame.values

### pandas.Index
class pandas.Index(data=None, dtype=None, copy=False, name=None, tupleize_cols=True, **kwargs)

### pandas.DataFrame.describe 
DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)

### pandas.DataFrame.append 

DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=False)

### pandas.isnull
pandas.isnull(obj)

### pandas.notnull 
pandas.notnull(obj)

### pandas.DataFrame.drop 
DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise') 

### pandas.get_dummies 
pandas.get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None)

### pandas.DataFrame
class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

### pandas.DataFrame.loc
### pandas.DataFrame.iloc

### pandas.DataFrame.drop 
DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

 
### pandas.DataFrame.apply
DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwds)

### pandas.DataFrame.transform
DataFrame.transform(func, axis=0, *args, **kwargs)

### pandas.concat
pandas.concat(objs: Union[Iterable[‘DataFrame’], Mapping[Label, ‘DataFrame’]], axis='0', join: str = "'outer'", ignore_index: bool = 'False', keys='None', levels='None', names='None', verify_integrity: bool = 'False', sort: bool = 'False', copy: bool = 'True') → ’DataFrame’

### pandas.DataFrame.drop_duplicates
DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)[source]

### pandas.cut
pandas.cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False, duplicates='raise', ordered=True)

### pandas.read_csv
pandas.read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)


### pandas.DataFrame.head
DataFrame.head(n=5)

### pandas.DataFrame.tail
DataFrame.tail(n=5)

### pandas.DataFrame.count
DataFrame.count(axis=0, level=None, numeric_only=False)

### pandas.Series.value_counts
Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)

### sort_values()
DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)

### pandas.DataFrame.groupby
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=<object object>, observed=False, dropna=True)

### pandas.DataFrame.agg
DataFrame.agg(func=None, axis=0, *args, **kwargs)

### pandas.DataFrame.to_csv

### pivot_table()
DataFrame.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', line_terminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict')

### pandas.DataFrame.unstack
DataFrame.unstack(level=- 1, fill_value=None)

### pandas.DataFrame.stack
DataFrame.stack(level=- 1, dropna=True) 

### pandas.DataFrame.fillna
DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None) 

=================================================

## Pandas version
check Pandas version

In [2]:
import numpy as np
import pandas as pd
print("------------")
print("pd.__version__")
print(pd.__version__)

------------
pd.__version__
0.23.4

# 1. pandas.Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers,
Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is
to call:

s = pd.Series(data, index=index)

If data is an ndarray, index must be the same length as data. If no index is passed, one will be created having values
[0, ..., len(data) - 1].

### pd.Series()

class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

Now let's see how can we creat a Series.

In [84]:
a=pd.Series(np.random.randn(5))
print(a)

0    0.699722
1   -3.045759
2   -0.811024
3   -0.866802
4    0.942031
dtype: float64

And id we want to create the index with specific name

In [17]:
s=pd.Series(np.random.randn(5),index=["a","b","c","d","e"])
print(s)

a    0.999152
b   -1.533479
c    1.580864
d    1.769873
e   -0.047858
dtype: float64

### pandas.DataFrame.values
"values" can let us check the value part.

In [83]:
print(s.values)

NameError: name 's' is not defined

### pandas.Index
class pandas.Index(data=None, dtype=None, copy=False, name=None, tupleize_cols=True, **kwargs)

Similarly, "s.index" can let us check only the index part.

In [15]:
print(s.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

And if we want to change the index.

In [16]:
s.index=["one","two","three","four","five"]
print(s)

one      0.315705
two     -0.103835
three   -1.033987
four    -0.511883
five     0.887529
dtype: float64

### pd.Series(Dictionary)
We can also create a Series by using dictionary of Python.

In [85]:
Dict={"a":1,"b":2,"c":3,"d":4,"e":5}
temp=pd.Series(Dict)
print(temp)

a    1
b    2
c    3
d    4
e    5
dtype: int64

### pandas.DataFrame.describe 
DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)

describe() can tell you the basic information about the Series or Dataframe, where "count" means the number of the datas, "std" means mean square error(平均二乗誤差), 25% means the quantile(分位) of the first 25% data, similarly, 50% means the quantile of the first 50% data.

In [29]:
print(temp.describe())

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

### Basic operation on Series
Now let's see another example.

In [32]:
cities={"Tokyo":10000,"NY":9000,"London":12000,"Dezhou":1200,"Birmingham":None}
apts=pd.Series(cities,name="price")
print(apts)

Tokyo         10000.0
NY             9000.0
London        12000.0
Dezhou         1200.0
Birmingham        NaN
Name: price, dtype: float64

We can give the series a name by using "name=".
And if we want to indicate a specific element in the Series.

In [33]:
print(apts[0])

10000.0

The operation on the Series is similar to the operation on the list or numpy.array. So if we want to change the value of an element, for example, change the value of "Tokyo" from 10000 to 20000.

In [34]:
apts["Tokyo"]=20000#
print(apts)

Tokyo         20000.0
NY             9000.0
London        12000.0
Dezhou         1200.0
Birmingham        NaN
Name: price, dtype: float64

And we can access the arbitrary number of elements with arbitrary sequency.

In [35]:
print(apts[["Dezhou","Tokyo","Birmingham"]])

Dezhou         1200.0
Tokyo         20000.0
Birmingham        NaN
Name: price, dtype: float64

In [36]:
print(apts[[3,0,2]]) #Index starts from 0

Dezhou     1200.0
Tokyo     20000.0
London    12000.0
Name: price, dtype: float64

### pandas.DataFrame.append 
DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=False)

If we want to conbine two Series together

In [38]:
s1=pd.Series(["a","b","c"])
s2=pd.Series(["w","x","y","z"])
print(s1)
print(s2)

0    a
1    b
2    c
dtype: object
0    w
1    x
2    y
3    z
dtype: object

In [39]:
s3=s1.append(s2)
print(s3)

0    a
1    b
2    c
0    w
1    x
2    y
3    z
dtype: object

We can see that, the indexs from the previous Series are remained in s3. If we want to ignore these old index and creat the new index, we can do by using "ignore_index=True"

In [40]:
s4=s1.append(s2,ignore_index=True)
print(s4)

0    a
1    b
2    c
3    w
4    x
5    y
6    z
dtype: object

### Operations on the lables
And we can do operation on the lables in the Series, just like the operations on the list or array.

In [41]:
cities={"Tokyo":10000,"NY":9000,"London":12000,"Dezhou":1200,"Birmingham":None}
apts=pd.Series(cities,name="price")
print(apts)

Tokyo         10000.0
NY             9000.0
London        12000.0
Dezhou         1200.0
Birmingham        NaN
Name: price, dtype: float64

In [42]:
print(apts*3)

Tokyo         30000.0
NY            27000.0
London        36000.0
Dezhou         3600.0
Birmingham        NaN
Name: price, dtype: float64

In [43]:
print(apts>apts.median())

Tokyo          True
NY            False
London         True
Dezhou        False
Birmingham    False
Name: price, dtype: bool

In [44]:
print(apts[apts>apts.median()])

Tokyo     10000.0
London    12000.0
Name: price, dtype: float64

### Numpy operation on Series
Also, we can apply the numpy operation directly on the Series.

In [52]:
a1=pd.Series([4,-9,16,-25],index=["a","b","c","d"])
b1=np.square(a1)
c1=np.abs(a1)

In [48]:
print(a1)

a     4
b    -9
c    16
d   -25
dtype: int64

In [53]:
print(b1)

a     16
b     81
c    256
d    625
dtype: int64

In [54]:
print(c1)

a     4
b     9
c    16
d    25
dtype: int64

### Series Slicing(スライス)

In [55]:
a=pd.Series([4,-9,16,-25],index=["a","b","c","d"])
print(a[1:3]) # 3 is not counted

b    -9
c    16
dtype: int64

In [56]:
print(a["a":"c"]) # differ to the number, is you cut the series with index, "c" is counted

a     4
b    -9
c    16
dtype: int64

### pandas.isnull & pandas.notnull 
pandas.isnull(obj)

pandas.notnull(obj)

isnull() Detect missing values for an array-like object.

This function takes a scalar or array-like object and indicates whether values are missing (NaN in numeric arrays.

notnull(), on the contrary,Detect non-missing values for an array-like object.

This function takes a scalar or array-like object and indicates whether values are valid (not missing, which is NaN in numeric arrays, None or NaN in object arrays, NaT in datetimelike).

In [58]:
arr=np.array([1,2,3,np.nan])

temp=pd.Series(arr,index=["a","b","c","d"])

In [59]:
print(temp)

a    1.0
b    2.0
c    3.0
d    NaN
dtype: float64

In [61]:
print(temp.isnull())

a    False
b    False
c    False
d     True
dtype: bool

In [ ]:
print(temp.notnull())

As we can see, insull and notsullbool or array-like of bool,so if we wann to access the specific null or notnull onject:

In [62]:
print(temp[temp.isnull()==True])

d   NaN
dtype: float64

In [65]:
print(temp[temp.notnull()==True])

a    1.0
b    2.0
c    3.0
dtype: float64

In [64]:
print(temp[temp.isnull()==False])

a    1.0
b    2.0
c    3.0
dtype: float64

In [ ]:
print(temp[temp.notnull()==False])

### pandas.DataFrame.drop 
DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise') 

Return Series with specified index labels removed
Remove elements of a Series based on specifying the index labels. When using a multi-index, labels on different levels can be removed by specifying the level.

In [68]:
a=pd.Series([2,0,-1,12])
print(a)

0     2
1     0
2    -1
3    12
dtype: int64

In [69]:
a.drop(0)
print(a)

0     2
1     0
2    -1
3    12
dtype: int64

In [72]:
b=a.drop(0)
print(b)

2    -1
3    12
dtype: int64

In [73]:
c=a.drop([0,1])
print(c)

2    -1
3    12
dtype: int64

As we can see, drop() operation will not remove the lables from the original Series, it create a copy of the Series data and then do the removing operation on the copy of the data.

But if we want to remove the lables from the original Series, we can do like this:

In [74]:
a.drop(0,inplace=True)
print(a)

1     0
2    -1
3    12
dtype: int64

Or, we can do:

In [76]:
a=pd.Series([2,0,-1,12])
a=a.drop(0)
print(a)

1     0
2    -1
3    12
dtype: int64

### s.name & s.index.name

In [77]:
a=pd.Series([2,0,-1,12])
print(a)

0     2
1     0
2    -1
3    12
dtype: int64

In [82]:
a.name="Hello"
a.index.name="World"
print(a)

World
0     2
1     0
2    -1
3    12
Name: Hello, dtype: int64

### pandas.get_dummies 
pandas.get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None)

get_dummies(), Convert categorical variable into dummy/indicator variables(ダミー変数).

In [73]:
a=pd.Series(["Tokyo","Birmmingham","London","Dezhou"])
print(a)
b=pd.get_dummies(a)
print(b)

0          Tokyo
1    Birmmingham
2         London
3         Dezhou
dtype: object
   Birmmingham  Dezhou  London  Tokyo
0            0       0       0      1
1            1       0       0      0
2            0       0       1      0
3            0       1       0      0

# 2. DataFrame
class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

DataFrame is Two-dimensional, size-mutable, potentially heterogeneous tabular data.
class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)[source]

### pandas.DataFrame

Similar to create a Series, 
### wen can also create a DataFrame by using Python Dictionary.

In [86]:
data={"one":[1,2,3],"two":[4,5,6],"three":[7,8,9]}
df=pd.DataFrame(data)
print(df)

   one  two  three
0    1    4      7
1    2    5      8
2    3    6      9

### Also, wen can  create a DataFrame by using Numpy array.

In [88]:
numpydata=np.random.randint(1,10,9).reshape(3,3)

df3=pd.DataFrame(numpydata)
print("numpydata")
print(numpydata)
print("df3")
print(df3)

numpydata
[[5 2 4]
 [6 2 2]
 [7 8 6]]
df3
   0  1  2
0  5  2  4
1  6  2  2
2  7  8  6

As we can see, DataFrame is a Two-dimensional data, consiste of "index" and "Columns". And we can give the index anf columns name

In [89]:
df4=pd.DataFrame(numpydata,columns=["one","two","three"],index=["a","b","c"])
print(df4)

   one  two  three
a    5    2      4
b    6    2      2
c    7    8      6

### Moreover, we can generate a DataFrame by using Series.

In [90]:
row1=pd.Series(np.arange(3),index=["one","two","three"])
row2=pd.Series(np.arange(3),index=["a","b","c"])

row1.name="Series 1"
row2.name="Series 2"

print("row 1")
print(row1)
print("row 2")
print(row2)

row 1
one      0
two      1
three    2
Name: Series 1, dtype: int32
row 2
a    0
b    1
c    2
Name: Series 2, dtype: int32

In [91]:
df5=pd.DataFrame([row1,row2])
print("df5")
print(df5)

df5
          one  two  three    a    b    c
Series 1  0.0  1.0    2.0  NaN  NaN  NaN
Series 2  NaN  NaN    NaN  0.0  1.0  2.0

### df.T
Similar to the matrix, we can do transpose operation on DataFrame.

In [92]:
print(df5.T)

       Series 1  Series 2
one         0.0       NaN
two         1.0       NaN
three       2.0       NaN
a           NaN       0.0
b           NaN       1.0
c           NaN       2.0

In [ ]:
And if we give the same index to rwo1 and rwo2

In [94]:
row1=pd.Series(np.arange(3),index=["one","two","three"])
row2=pd.Series(np.arange(3),index=["one","two","three"])

row1.name="Series 1"
row2.name="Series 2"
df5=pd.DataFrame([row1,row2])
print("df5")
print(df5)

df5
          one  two  three
Series 1    0    1      2
Series 2    0    1      2

In [95]:
print(df5.T)

       Series 1  Series 2
one           0         0
two           1         1
three         2         2

In [96]:
df2=pd.DataFrame({"one":[1,2,3],"two":[4,5,6],"three":[7,8,9]})
print(df2)

   one  two  three
0    1    4      7
1    2    5      8
2    3    6      9

In [97]:
print(df2.columns)

Index(['one', 'two', 'three'], dtype='object')

In [98]:
print(df2.columns.values)

['one' 'two' 'three']

In [99]:
print(df2.columns.values[0])

one

In [100]:
print(df2["one"])

0    1
1    2
2    3
Name: one, dtype: int64

In [101]:
print(df2.one)

0    1
1    2
2    3
Name: one, dtype: int64

In [102]:
print(df2[["one","two"]])

   one  two
0    1    4
1    2    5
2    3    6

In [103]:
print(df2[:2]) # Slicing from 0 to 1

   one  two  three
0    1    4      7

In [104]:
print(df2[1:2])

   one  two  three
1    2    5      8

In [105]:
df2.index=["a","b","c"]
print(df2)

   one  two  three
a    1    4      7
b    2    5      8
c    3    6      9

### pandas.DataFrame.loc & pandas.DataFrame.iloc

In [115]:
print(df2.loc["a":"b"])

   one  two  three
a    1    4      7
b    2    5      8

In [108]:
print(df2.iloc[:,1:])#[row,column]

   two  three
a    4      7
b    5      8
c    6      9
one      3
two      6
three    9
Name: c, dtype: int64

In [109]:
print(df2.iloc[2])#if there is only one value in [], that value corresponds to the rwo number(default)

one      3
two      6
three    9
Name: c, dtype: int64

In [110]:
print(df2.iloc[0:2])

   one  two  three
a    1    4      7
b    2    5      8

In [111]:
df2.iloc[[0,2]]

   one  two  three
a    1    4      7
c    3    6      9

In [113]:
df2.iloc[0:2,1:]  #0 to 1 in rwo, columns after 1

   two  three
a    4      7
b    5      8

### pandas.DataFrame.drop 
DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

In [116]:
df=pd.DataFrame({"one":[1,2,3],"two":[4,5,6],"three":[7,8,9]})
print(df)

   one  two  three
0    1    4      7
1    2    5      8
2    3    6      9

In [126]:
print(df.drop("three",axis=1))

   one  two
0    1    4
1    2    5
2    3    6

In [120]:
print(df.drop("three",axis="columns"))

   one  two
0    1    4
1    2    5
2    3    6

In [123]:
print(df.drop(2,axis=0))

   one  two  three
0    1    4      7
1    2    5      8

In [124]:
print(df.drop([0,1],axis=0))

   one  two  three
2    3    6      9

In [127]:
df=pd.DataFrame({"one":[1,2,3],"two":[4,5,6],"three":[7,8,9]})
df.drop("three",axis="columns")
print(df)

   one  two  three
0    1    4      7
1    2    5      8
2    3    6      9

In [128]:
df=pd.DataFrame({"one":[1,2,3],"two":[4,5,6],"three":[7,8,9]})
df=df.drop("three",axis="columns")
print(df)

   one  two
0    1    4
1    2    5
2    3    6

In [129]:
df=pd.DataFrame({"one":[1,2,3],"two":[4,5,6],"three":[7,8,9]})
df.drop("three",axis="columns",inplace=True)
print(df)

   one  two
0    1    4
1    2    5
2    3    6

### del

In [130]:
df=pd.DataFrame({"one":[1,2,3],"two":[4,5,6],"three":[7,8,9]})

del df["three"]
print(df)

   one  two
0    1    4
1    2    5
2    3    6

### Satistice operation, max, min, mean and so on

In [138]:
dff=pd.DataFrame({"one":[1,2,3],"two":[4,6,5],"three":[9,8,7]})
print(dff)

   one  two  three
0    1    4      9
1    2    6      8
2    3    5      7

In [139]:
print(dff.max(axis=1)) # Max number in horizontal

0    9
1    8
2    7
dtype: int64

In [135]:
print(dff.max(axis=0)) # Max number in vertical

one      3
two      6
three    9
dtype: int64

In [137]:
print(dff.max(axis="columns")) # same as (axis=1

0    7
1    8
2    9
dtype: int64

In [ ]:
print(dff.max(axis="index"))  # same as (axis=0

In [144]:
print(dff.min(axis=1)) # Min number in horizontal

0    1
1    2
2    3
dtype: int64

In [143]:
print(dff.mean(axis=1)) # mean value in horizontal

0    4.666667
1    5.333333
2    5.000000
dtype: float64

### pandas.DataFrame.apply & pandas.DataFrame.transform
DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwds)

DataFrame.transform(func, axis=0, *args, **kwargs)

apply() Apply a function along an axis of the DataFrame.

transform() Call func on self producing a DataFrame with transformed values.

In [57]:
dff=pd.DataFrame({"one":[1,2,3],"two":[4,5,6],"three":[7,8,9]})

print(dff.transform(np.mean))

one      2.0
two      5.0
three    8.0
dtype: float64

In [58]:
print(dff.apply(np.mean))

one      2.0
two      5.0
three    8.0
dtype: float64

In [59]:
print(dff.transform(lambda x:x+1))

   one  two  three
0    2    5      8
1    3    6      9
2    4    7     10

In [60]:
print(dff.apply(lambda x:x+1))

   one  two  three
0    2    5      8
1    3    6      9
2    4    7     10

In [67]:
def jiawei(x):
    
    x=x+1
    return x

dff=pd.DataFrame({"one":[1,2,3],"two":[4,5,6],"three":[7,8,9]})
print(dff)
print('------------------')
print(dff.transform(jiawei))
print('------------------')
print(dff.apply(jiawei))

   one  two  three
0    1    4      7
1    2    5      8
2    3    6      9
------------------
   one  two  three
0    2    5      8
1    3    6      9
2    4    7     10
------------------
   one  two  three
0    2    5      8
1    3    6      9
2    4    7     10

In [68]:
dff2=jiawei(dff)
print(dff2)

   one  two  three
0    2    5      8
1    3    6      9
2    4    7     10

### Insert lables to Dataframe

In [145]:
df=pd.DataFrame(columns=["c1","c2","c3"])
print(df)

Empty DataFrame
Columns: [c1, c2, c3]
Index: []
  c1 c2 c3
0  1  2  3
1  1  2  3
2  1  2  3
3  1  2  3
4  1  2  3

In [146]:
for i in range(5):
    df.loc[i]=[1,2,3] #if there is only one value in [], that value corresponds to the rwo number(default)

print(df)

   c1  c2  c3
0   1   2   3
1   1   2   3
2   1   2   3
3   1   2   3
4   1   2   3

In [147]:
df=pd.DataFrame(columns=["c1","c2","c3"])
print(df)

for i in range(5):
    df.loc[i]=1

print(df)

Empty DataFrame
Columns: [c1, c2, c3]
Index: []
  c1 c2 c3
0  1  1  1
1  1  1  1
2  1  1  1
3  1  1  1
4  1  1  1

### Insert columns

In [ ]:
df=pd.DataFrame({"a":[1,2,3,4],"b":[5,6,7,8]})
print(df)

In [ ]:
df["new_column_1"]=0
df["new_column_2"]=[9,10,11,12]
print(df)

### Insert rows 
To insert a new row, we need the command "loc"

In [148]:
df=pd.DataFrame(columns=["c1","c2","c3"])
print(df)

for i in range(5):
    df.loc[i]=[1,2,3]

print(df)

df.loc["new_row"]=[8,9,10]
print(df)

Empty DataFrame
Columns: [c1, c2, c3]
Index: []
  c1 c2 c3
0  1  2  3
1  1  2  3
2  1  2  3
3  1  2  3
4  1  2  3
        c1 c2  c3
0        1  2   3
1        1  2   3
2        1  2   3
3        1  2   3
4        1  2   3
new_row  8  9  10

### pandas.concat Combine two DataFrame together
pandas.concat(objs: Union[Iterable[‘DataFrame’], Mapping[Label, ‘DataFrame’]], axis='0', join: str = "'outer'", ignore_index: bool = 'False', keys='None', levels='None', names='None', verify_integrity: bool = 'False', sort: bool = 'False', copy: bool = 'True') → ’DataFrame’

df1=pd.DataFrame({"a":[1,2,3],"b":[5,6,7]})
df2=pd.DataFrame({"a":[11,12,13],"b":[15,16,17]})

In [156]:
df3=pd.concat([df1,df2],axis=1) # 1, combine two dataframe in horizontal
print(df3)

   a  b   a   b
0  1  5  11  15
1  2  6  12  16
2  3  7  13  17

In [157]:
df4=pd.concat([df1,df2],ignore_index=True,axis=1)
print(df4)

   0  1   2   3
0  1  5  11  15
1  2  6  12  16
2  3  7  13  17

In [158]:
df5=pd.concat([df1,df2],axis=0) # 0, combine two dataframe in vertical
print(df5)

    a   b
0   1   5
1   2   6
2   3   7
0  11  15
1  12  16
2  13  17

In [159]:
df5=pd.concat([df1,df2],ignore_index=True,axis=0) # 0, combine two dataframe in vertical
print(df5)

    a   b
0   1   5
1   2   6
2   3   7
3  11  15
4  12  16
5  13  17

### pandas.DataFrame.drop_duplicates
DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)[source]

DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

drop_duplicates， ()Return DataFrame with duplicate rows removed.

In [70]:
dff=pd.DataFrame({"one":[1,2,2],"two":[4,4,2],"three":[3,3,2]})

print(dff)
print('================')
nore=dff['one'].drop_duplicates()
print(nore)

   one  two  three
0    1    4      3
1    2    4      3
2    2    2      2
================
0    1
1    2
Name: one, dtype: int64

In [71]:
nore2=dff.drop_duplicates()
print(nore2)

   one  two  three
0    1    4      3
1    2    4      3
2    2    2      2

In [80]:
dff2=pd.DataFrame({"one":[1,2,2],"two":[3,2,2],"three":[4,2,2]})
print('================')
nore3=dff2.drop_duplicates()  # If there no index in drop_duplicates(), the DataFrame with duplicate rows which occured ar all clumns removed
print(nore3)

================
   one  two  three
0    1    3      4
1    2    2      2

### pandas.cut
pandas.cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False, duplicates='raise', ordered=True)

cut(), Bin values(int, sequence of scalars, or IntervalIndex) or normal numbers into discrete intervals

In [81]:
dff=pd.DataFrame({"one":[1,2,3,4,6,8],"two":[2,2,2,7,8,9],"three":[1,2,2,6,2,2]})
dff_cut=pd.cut(dff["one"],10)
print(dff_cut)

0    (0.993, 1.7]
1      (1.7, 2.4]
2      (2.4, 3.1]
3      (3.8, 4.5]
4      (5.9, 6.6]
5      (7.3, 8.0]
Name: one, dtype: category
Categories (10, interval[float64]): [(0.993, 1.7] < (1.7, 2.4] < (2.4, 3.1] < (3.1, 3.8] ... (5.2, 5.9] < (5.9, 6.6] < (6.6, 7.3] < (7.3, 8.0]]

# Data Preprocessing

### pandas.read_csv Read csv files

In [4]:
df=pd.read_csv("Salaries.csv")
print(df)
print(df.dtypes)

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
..        ...        ...  ...      ...     ...     ...
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]
rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [5]:
print(df["salary"].dtypes)
print(df[["salary","rank"]].dtypes)

int64
salary     int64
rank      object
dtype: object

Other common API functions

CSV: read_csv, to_csv
HDF: read_hdf, to_hdf
SQL: read_sql, to_sql
JSON: read_json, to_json
HTML: read_html, to_html
PICKLE: read_pickle, to_pickle

# pandas.DataFrame.head & pandas.DataFrame.tail
DataFrame.head(n=5)

DataFrame.tail(n=5)

The head() function is used to get the first n rows.
This function returns the first n rows for the object based on position. It is useful for quickly testing if your object has the right type of data in it.

The tail() function is used to get the last n rows.
This function returns last n rows from the object based on position. It is useful for quickly verifying data, for example, after sorting or appending rows.

In [9]:
print(df.head())  #default, head() means head(5)

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [7]:
print(df.head(10))

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   12        6  Male   93000
2       Prof          A   23       20  Male  110515
3       Prof          A   40       31  Male  131205
4       Prof          B   20       18  Male  104800
5       Prof          A   20       20  Male  122400
6  AssocProf          A   20       17  Male   81285
7       Prof          A   18       18  Male  126300
8       Prof          A   29       19  Male   94350
9       Prof          A   51       51  Male   57800

print(df.tail()) #default, tail() means tail(5)

### describe（）
As we mentioned before, the describe() method is used for calculating some statistical data like percentile, mean and std of the numerical values of the Series or DataFrame. It analyzes both numeric and object series and also the DataFrame column sets of mixed data types.

In [10]:
print(df.describe())

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

If we want to the specific statistical operations on the specific part of the datas

print(df["salary"].mean())
print(df["salary"].median())
print(df["salary"].head(3).mean())

More operations:
head() This function returns the first n rows for the object based on position.

tail() This function returns last n rows from the object based on position. 

describe() The describe() method is used for calculating some statistical data like percentile, mean and std of the numerical values of the Series or DataFrame.

max() Return the maximum of the values for the requested axis.

min() Return the minimum of the values for the requested axis.

mean() Return the average of the values for the requested axis.

median() Return the median of the values for the requested axis.

std() Return sample standard deviation over requested axis.

sample() Return a random sample of items from an axis of object.

dropna() Remove missing values.

count() Count non-NA cells for each column or row.

value_count() Return a Series containing counts of unique values.

groupby() Group DataFrame using a mapper or by a Series of columns.

### pandas.DataFrame.count & pandas.Series.value_counts
DataFrame.count(axis=0, level=None, numeric_only=False)

Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)

count(), Count non-NA cells for each column or row.

value_counts(), Return a Series containing counts of unique values.

In [15]:
print(df.sex.count())

78

In [16]:
print(df.sex.value_counts())

Female    39
Male      39
Name: sex, dtype: int64

Also, we can sort the output of value_counts() in ascending order

In [17]:
print(df.discipline.value_counts(ascending=True))

A    36
B    42
Name: discipline, dtype: int64

And we can do the normalize operation to the value_counts() by setting "normalize=True", then the object returned will contain the relative frequencies of the unique values.

In [18]:
print(df.discipline.value_counts(normalize=True,ascending=True))

A    0.461538
B    0.538462
Name: discipline, dtype: float64

### Condition filtering

Similar to Series, We can use boolean indexing to extract our DataFrame data subset

In [19]:
print(df[df.salary>=130000])

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
3   Prof          A   40       31    Male  131205
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
19  Prof          A   29       27    Male  150500
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
31  Prof          B   22       21    Male  155750
36  Prof          B   45       45    Male  146856
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
58  Prof          B   36       26  Female  144651
72  Prof          B   24       15  Female  161101

In [21]:
print(df.salary>=130000)

0      True
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13     True
14     True
15     True
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27     True
28    False
29    False
      ...
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58     True
59    False
60    False
61    False
62    False
63    False
64    False
65    False
66    False
67    False
68    False
69    False
70    False
71    False
72     True
73    False
74    False
75    False
76    False
77    False
Name: salary, Length: 78, dtype: bool

In [22]:
print(df[df.salary>=130000][df.sex=="Female"])

    rank discipline  phd  service     sex  salary
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
58  Prof          B   36       26  Female  144651
72  Prof          B   24       15  Female  161101

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [20]:
print(df[df.salary>=130000][df.sex=="Female"].salary.mean())

146923.2

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

### Indexing and select data

In [25]:
df=pd.read_csv("Salaries.csv")

print(df[5:15]) #Slicing the rwos from 5 to 14

         rank discipline  phd  service   sex  salary
5        Prof          A   20       20  Male  122400
6   AssocProf          A   20       17  Male   81285
7        Prof          A   18       18  Male  126300
8        Prof          A   29       19  Male   94350
9        Prof          A   51       51  Male   57800
10       Prof          B   39       33  Male  128250
11       Prof          B   23       23  Male  134778
12   AsstProf          B    1        0  Male   88000
13       Prof          B   35       33  Male  162200
14       Prof          B   25       19  Male  153750

In [24]:
print(df.loc[5:15,["rank","sex","salary"]]) #Slicing the rwos from 5 to 14, column "rank", "sex" and "salary"

         rank   sex  salary
5        Prof  Male  122400
6   AssocProf  Male   81285
7        Prof  Male  126300
8        Prof  Male   94350
9        Prof  Male   57800
10       Prof  Male  128250
11       Prof  Male  134778
12   AsstProf  Male   88000
13       Prof  Male  162200
14       Prof  Male  153750
15       Prof  Male  150480

In [26]:
print(df[5:15][["rank","sex","salary"]])

         rank   sex  salary
5        Prof  Male  122400
6   AssocProf  Male   81285
7        Prof  Male  126300
8        Prof  Male   94350
9        Prof  Male   57800
10       Prof  Male  128250
11       Prof  Male  134778
12   AsstProf  Male   88000
13       Prof  Male  162200
14       Prof  Male  153750

loc gets rows (or columns) with particular labels from the index.
iloc gets rows (or columns) at particular positions in the index (so it only takes integers).

### DataFrame.sort_values
DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)

In [29]:
df=pd.read_csv("Salaries.csv")

df_sorted=df.sort_values(by="salary")
print(df_sorted)

         rank discipline  phd  service     sex  salary
9        Prof          A   51       51    Male   57800
54  AssocProf          A   25       22  Female   62884
66   AsstProf          A    7        6  Female   63100
71  AssocProf          B   12        9  Female   71065
57   AsstProf          A    3        1  Female   72500
55   AsstProf          A    2        0  Female   72500
22   AsstProf          A    4        2    Male   73000
64  AssocProf          A   26       24  Female   73300
53   AsstProf          A    5        3  Female   73500
46   AsstProf          B   11        3  Female   74692
41  AssocProf          A   13        8  Female   74830
16   AsstProf          B    8        3    Male   75044
43   AsstProf          B    5        0  Female   77000
56  AssocProf          A   10        8  Female   77500
68   AsstProf          A    4        2  Female   77500
70   AsstProf          A    8        3  Female   78500
42   AsstProf          B    4        2  Female   80225
6   AssocProf          A   20       17    Male   81285
23   AsstProf          A    2        0    Male   85000
12   AsstProf          B    1        0    Male   88000
67       Prof          A   17       11  Female   90450
38   AsstProf          B    4        3    Male   91000
63       Prof          A   29       27  Female   91000
24       Prof          A   30       23    Male   91100
28   AsstProf          B    7        2    Male   91300
60   AsstProf          B    3        3  Female   92000
17   AsstProf          B    4        0    Male   92000
20   AsstProf          B    4        4    Male   92000
1        Prof          A   12        6    Male   93000
8        Prof          A   29       19    Male   94350
..        ...        ...  ...      ...     ...     ...
48       Prof          B   17       17  Female  111512
69       Prof          A   28        7  Female  116450
65       Prof          A   36       19  Female  117555
34  AssocProf          B   12        8    Male  119800
33       Prof          B   18       18    Male  120000
5        Prof          A   20       20    Male  122400
49       Prof          B   17       18  Female  122960
29       Prof          B   21       20    Male  123683
75       Prof          B   17       17  Female  124312
7        Prof          A   18       18    Male  126300
35       Prof          B   28       23    Male  126933
51       Prof          B   20       14  Female  127512
10       Prof          B   39       33    Male  128250
39       Prof          B   18       18  Female  129000
3        Prof          A   40       31    Male  131205
11       Prof          B   23       23    Male  134778
40       Prof          A   39       36  Female  137000
45       Prof          B   25       25  Female  140096
58       Prof          B   36       26  Female  144651
36       Prof          B   45       45    Male  146856
26       Prof          A   38       19    Male  148750
15       Prof          B   17        3    Male  150480
19       Prof          A   29       27    Male  150500
44       Prof          B   23       19  Female  151768
14       Prof          B   25       19    Male  153750
31       Prof          B   22       21    Male  155750
27       Prof          A   45       43    Male  155865
72       Prof          B   24       15  Female  161101
13       Prof          B   35       33    Male  162200
0        Prof          B   56       49    Male  186960

[78 rows x 6 columns]

In [30]:
print(df_sorted.head(15))

         rank discipline  phd  service     sex  salary
9        Prof          A   51       51    Male   57800
54  AssocProf          A   25       22  Female   62884
66   AsstProf          A    7        6  Female   63100
71  AssocProf          B   12        9  Female   71065
57   AsstProf          A    3        1  Female   72500
55   AsstProf          A    2        0  Female   72500
22   AsstProf          A    4        2    Male   73000
64  AssocProf          A   26       24  Female   73300
53   AsstProf          A    5        3  Female   73500
46   AsstProf          B   11        3  Female   74692
41  AssocProf          A   13        8  Female   74830
16   AsstProf          B    8        3    Male   75044
43   AsstProf          B    5        0  Female   77000
56  AssocProf          A   10        8  Female   77500
68   AsstProf          A    4        2  Female   77500

In [31]:
df_sorted2=df.sort_values(by=["service","salary"],ascending=[True,False])
print(df_sorted2.head(15))

        rank discipline  phd  service     sex  salary
52      Prof          A   12        0  Female  105000
17  AsstProf          B    4        0    Male   92000
12  AsstProf          B    1        0    Male   88000
23  AsstProf          A    2        0    Male   85000
43  AsstProf          B    5        0  Female   77000
55  AsstProf          A    2        0  Female   72500
57  AsstProf          A    3        1  Female   72500
28  AsstProf          B    7        2    Male   91300
42  AsstProf          B    4        2  Female   80225
68  AsstProf          A    4        2  Female   77500
22  AsstProf          A    4        2    Male   73000
15      Prof          B   17        3    Male  150480
60  AsstProf          B    3        3  Female   92000
38  AsstProf          B    4        3    Male   91000
70  AsstProf          A    8        3  Female   78500

"ascending=[True,False])", Ture means positive sequence, False means negative sequence
"by=["service","salary"]", we fisrt sort the data according to the "servive", if them some datas has the same values, then we sort these datas according to the order of "salary".

### pandas.DataFrame.groupby
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=<object object>, observed=False, dropna=True)

In [33]:
df=pd.read_csv("Salaries.csv")

df_rank=df.groupby(["rank"])
print(df_rank)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000020A22F068D0>

In [34]:
print(df_rank.mean())

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [ ]:
print(df_rank.count())

In [ ]:
print(df_rank.median())

In [35]:
print(df_rank.describe())

            phd                                                      salary  \
          count       mean        std   min    25%   50%   75%   max  count
rank
AssocProf  13.0  15.076923   5.589597   9.0  12.00  13.0  19.0  26.0   13.0
AsstProf   19.0   5.052632   2.738079   1.0   3.50   4.0   7.0  11.0   19.0
Prof       46.0  27.065217  10.185834  12.0  19.25  24.5  34.5  56.0   46.0

                          ...                       service             \
                    mean  ...         75%       max   count       mean
rank                      ...
AssocProf   91786.230769  ...   104542.00  119800.0    13.0  11.307692
AsstProf    81362.789474  ...    91150.00   97032.0    19.0   2.210526
Prof       123624.804348  ...   143512.25  186960.0    46.0  21.413043


                 std  min   25%   50%    75%   max
rank
AssocProf   5.879124  6.0   8.0   9.0  11.00  24.0
AsstProf    1.750522  0.0   0.5   2.0   3.00   6.0
Prof       11.255766  0.0  15.5  19.0  26.75  51.0

[3 rows x 24 columns]

In [36]:
print(df_rank[["salary"]].mean())

                  salary
rank
AssocProf   91786.230769
AsstProf    81362.789474
Prof       123624.804348

### pandas.DataFrame.agg
DataFrame.agg(func=None, axis=0, *args, **kwargs)

It we want to apply more than one operations over the DataFrames, we can use agg().
agg(), Aggregate using one or more operations over the specified axis.

In [37]:
print(df_rank[["salary","service"]].agg(["mean","std","skew"]))

                  salary                            service             \
                    mean           std      skew       mean        std
rank
AssocProf   91786.230769  18571.183714 -0.151200  11.307692   5.879124
AsstProf    81362.789474   9381.245301  0.030504   2.210526   1.750522
Prof       123624.804348  24850.287853  0.070309  21.413043  11.255766


               skew
rank
AssocProf  1.462083
AsstProf   0.335521
Prof       0.759933

In [38]:
df=pd.read_csv("Salaries.csv")

print(df.salary.agg(["min","max","mean","median"]))


print(df["rank"].agg("mode"))  #Get the mode(s)(最頻値) of each element along the selected axis
print(df[["salary","service"]].agg(["skew","kurt"])) #歪度(Skewness)と尖度(Kurtosis)

min        57800.000000
max       186960.000000
mean      108023.782051
median    104671.000000
Name: salary, dtype: float64
0    Prof
dtype: object
        salary   service
skew  0.452103  0.913750
kurt -0.401713  0.608981

### pandas.pivot_table
pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)

pandas.pivot_table()関数を使うと、Excelなどの表計算ソフトのピボットテーブル機能と同様の処理が実現できる。

カテゴリデータ（カテゴリカルデータ、質的データ）のカテゴリごとにグルーピング（グループ分け）して量的データの統計量（平均、合計、最大、最小、標準偏差など）を確認・分析することが可能。便利
pandas.pivot_table() has the similar funciton as the pivot table in excel.

In [39]:
df=pd.read_csv("Salaries.csv")

print(pd.pivot_table(df,index=["rank"])) #Defalut functino of pivot_table: addgunc='mean'

                 phd         salary    service
rank
AssocProf  15.076923   91786.230769  11.307692
AsstProf    5.052632   81362.789474   2.210526
Prof       27.065217  123624.804348  21.413043

In [40]:
print(df.pivot_table(index=["rank"])) #Defalut functino of pivot_table: addgunc='mean'

                 phd         salary    service
rank
AssocProf  15.076923   91786.230769  11.307692
AsstProf    5.052632   81362.789474   2.210526
Prof       27.065217  123624.804348  21.413043

In [43]:
print(df.pivot_table(index=["rank"],aggfunc=np.sum)) #Defalut functino of pivot_table: addgunc='mean'

            phd   salary  service
rank
AssocProf   196  1193221      147
AsstProf     96  1545893       42
Prof       1245  5686741      985

In [41]:
print(df.pivot_table(index=["rank","sex"]))

                        phd         salary    service
rank      sex
AssocProf Female  15.500000   88512.800000  11.500000
          Male    13.666667  102697.666667  10.666667
AsstProf  Female   5.636364   78049.909091   2.545455
          Male     4.250000   85918.000000   1.750000
Prof      Female  23.722222  121967.611111  17.111111
          Male    29.214286  124690.142857  24.178571

In [44]:
print(df.pivot_table(index=["rank","sex"]).unstack())

                 phd                    salary                   service  \
sex           Female       Male         Female           Male     Female
rank
AssocProf  15.500000  13.666667   88512.800000  102697.666667  11.500000
AsstProf    5.636364   4.250000   78049.909091   85918.000000   2.545455
Prof       23.722222  29.214286  121967.611111  124690.142857  17.111111


sex             Male
rank
AssocProf  10.666667
AsstProf    1.750000
Prof       24.178571

### pandas.DataFrame.unstack & pandas.DataFrame.stack
DataFrame.unstack(level=- 1, fill_value=None)

DataFrame.stack(level=- 1, dropna=True) 

unstack(), Returns a DataFrame having a new level of column labels whose inner-most level consists of the pivoted index labels.

stack(), in opposite, Return a reshaped DataFrame or Series having a multi-level index with one or more new inner-most levels compared to the current DataFrame. The new inner-most levels are created by pivoting the columns of the current dataframe.

so if we unstack and then stack a pivot_table, the pivot_table will go beck to original form(no changes)

In [45]:
print(df.pivot_table(index=["rank","sex"]).unstack().stack())

                        phd         salary    service
rank      sex
AssocProf Female  15.500000   88512.800000  11.500000
          Male    13.666667  102697.666667  10.666667
AsstProf  Female   5.636364   78049.909091   2.545455
          Male     4.250000   85918.000000   1.750000
Prof      Female  23.722222  121967.611111  17.111111
          Male    29.214286  124690.142857  24.178571

In [46]:
print(df.pivot_table(index=["rank","sex"],values=["salary"])) # 'values',column to aggregate, optional

                         salary
rank      sex
AssocProf Female   88512.800000
          Male    102697.666667
AsstProf  Female   78049.909091
          Male     85918.000000
Prof      Female  121967.611111
          Male    124690.142857

In [47]:
print(df.pivot_table(index=["rank","sex"],values=["salary","service"]))

                         salary    service
rank      sex
AssocProf Female   88512.800000  11.500000
          Male    102697.666667  10.666667
AsstProf  Female   78049.909091   2.545455
          Male     85918.000000   1.750000
Prof      Female  121967.611111  17.111111
          Male    124690.142857  24.178571

In [48]:
print(df.pivot_table(index=["rank","sex"],values=["salary","service"],aggfunc=["mean","sum"]))

                           mean                 sum
                         salary    service   salary service
rank      sex
AssocProf Female   88512.800000  11.500000   885128     115
          Male    102697.666667  10.666667   308093      32
AsstProf  Female   78049.909091   2.545455   858549      28
          Male     85918.000000   1.750000   687344      14
Prof      Female  121967.611111  17.111111  2195417     308
          Male    124690.142857  24.178571  3491324     677

### pandas.DataFrame.fillna
DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None) 

The fillna() function is used to fill NA/NaN values using the specified method.

In [51]:
train_df=pd.read_csv("train.csv")
print("shape",train_df.shape)
print("------------")
print(train_df.info())
print("------------")
print(train_df.describe())
print("------------")
print(train_df.isnull().sum())

shape (891, 12)
------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
------------
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
------------
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [52]:
test_df=pd.read_csv("test.csv")
print(test_df.isnull().sum())

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [53]:
full_df=pd.concat([train_df,test_df],ignore_index=True,sort=False)
print(full_df.isnull().sum())

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [55]:
full_df['Age'].fillna(999,inplace=True)
print(full_df.isnull().sum())

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [56]:
train_clean=full_df[full_df['Survived'].notnull()]
test_clean=full_df[full_df['Survived'].isnull()]
train_clean.to_csv('train_clean.csv')
test_clean.to_csv('test_clean.csv')

# What is the essence of Pandas? Matryoshka doll(マトリョーシカ人形).

# Homework

data.csv is an user power consumption data set, there are in total 200 users in the data, DATA_DATE represents the time,for example, 2015/1/1 means January 1, 2015, and KWH means electricity consumption.

1. Transpose the data in data.csv. Please refer to the file "eg.csv" for the transposed data. Replace the missing values with "NAN".

2. Identify the abnormal datas and replace them with "NA". (When the absolute value of the difference between the value of a data and the mean value of the total is greater than three times the standard deviation of the dataset, we consider this data to be an abnormal data)

3. Calculate the basic statistics of each user's electricity consumption data, basic statistics including maximum, minimum, mean, median, sum, variance, skewness, and kurtosis (excluding null values).

4. Differentiate the electricity consumption data of each user by day, and calculate the basic statistics of the result after difference, the statistics are the same as the third question. ("Differentiate by day means", for example, second day's data-first day's data=difference data between second day and first day)

5. Calculate the median of 5% of each user's electricity consumption data。

6. Please sum the electricity consumption data of each user by week first and then calculate the difference data of them, and calculate the basic statistics of the difference result, the statistics are the same as the third question.(Difference by week means, for example, sum of the second week's data-sum of the first day's data)

7. Each user has the maximum  electricity consumption in a specific period of time, count the number of days when the electricity consumption data is greater than the "0.9* maximum electricity consumption".

8. Taking the electricity consumption data of each user in July and August as a batch of statistical samples, and the electricity consumption data in March and April as another batch of statistical samples, calculate the ratio of the total sum between the two batches of samples, the ratio of the mean value between two batches. the ratio of the maximum value between two batches, the ratio of the minimum value between two batches

9. Combine the statistical results of Question 3, Question 4 and Question 6 together and put yhem into one single DataFrame.

### Hint

1. when you read the cvs file, use the command:

   pd.read_csv('data.csv',parse_dates=True,index_col=[0,1])

   "parse_dates=True"  can convert the index type into TIME type data, this can help you solve the question 4 and question 6 eaiser. 

2. Try to solve the question 4 by using [ pandas.DataFrame.diff ]

3. For question 5, try the [ pandas.DataFrame.quantile ]

4. For question 6, try the command

   df.groupby(df.columns.week,axis=1)

   to group the data in the same week together and then do the sum operation.

### Requirement:

1. Submit the homework to the email: weiinbham@outlook.com.
   
2. The email title has to be: Pandas_homework_"Your name". 

3. You are required to submit two files, First one is the python file, you should put the all codes into one python file. The second one is the answer of the hmoework, in word file or pdf file. You can output the answer by using print() first anf then copy them to the word file.

4. In the python file ,use comment # or ''' to write the question number, also in the word, divide your answer by using question number like Q1, Q2, so I can clearly know which question you are answering. 

5. Submission deadline is: 2020, October, 07th, 13:29:59 in Tokyo time. (Before the second week's ZEMI).

6. If you have any question, feel free to ask me by sending email to: weiinbham@outlook.com.